*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/permissionlib/build/
/.idea/
LRecyclerview_library/.gitignore
LRecyclerview_library/build.gradle
LRecyclerview_library/proguard-rules.pro
LRecyclerview_library/src/
