*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/permissionlib/build/
/.idea/
/gradle
app/src/main/assets/
citylib/src/main/java/com/iasii/app/citylist/activity/
citylib/src/main/res/mipmap-hdpi/
citylib/src/main/res/mipmap-mdpi/
citylib/src/main/res/mipmap-xhdpi/
citylib/src/main/res/mipmap-xxxhdpi/
library/.gitignore
library/build.gradle
library/proguard-rules.pro
library/src/
photoselectcompont/libs/
uil/libs/
uil/src/main/res/drawable/
videorecord/libs/
