html,body{
  height: 100%;
  width: 100%
}
body{
  position: relative;
}
#app{
  height: 500px;
}
.loading-mask{
  position: relative;
  padding-top: 45%;
  text-align: center;
}
.mask{
  position: absolute;
  left: 45%;
  text-align: center;
  top: 65%
}
.loading-mask p{
  text-align: center
}